.card {
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 0 0 8px 0;
    min-height: 50px;
    border-radius: 5px;
    position: relative;
}

.setting {
    width: 2rem;
    position: absolute !important;
    right: 0;
    padding: 0 !important;
    display: none !important;
    margin-right: 16px !important;
    z-index: 5;
    top: 0.5rem;
}

.staticsetting {
    width: 2rem;
    position: absolute !important;
    right: 0;
    padding: 0 !important;
    margin-right: 3rem !important;
    z-index: 5;
    top: 3rem;
}

.column {
    width: 22vw;
    max-height: 72vh;
    min-height: 72vh;
    overflow: auto;
}

.column_slide {
    width: 90vw;
    max-height: 40vh;
    min-height: 40vh;
    overflow: auto;

}

.column::-webkit-scrollbar {
    display: none;
}

.column_slide::-webkit-scrollbar {
    /* display: block; */
    width:10px
}
.column_slide::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

.column_slide::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 5px;
  }

.countblock {
    background: #fff;
    width: 20px;
    font-size: 1rem;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    color: #808080;
    margin-left:0.5rem;
}

.card:hover+.setting {
    display: block !important;
}

.setting:hover {
    display: block !important;
}

.header {
    text-align: left;
    width: 100%;
    padding-left: 20px;
}

.header_slide {
    background-color: #808080;
    width: 100%;
    padding-left: 2rem;
}

.column_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card_slide{
    /* height: 15px !important; */
    min-height: 20px;
    flex-direction: row;
}